# Virtual Environment
venv/
env/
ENV/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/


# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Local development settings
.env
.env.local
.venv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db